body{margin: 0; padding: 0;}
header{width: 100%;}
main{width: 100%;}
footer{width: 100%;}
ul{margin: 0; padding: 0; list-style: none;}
nav{float: left; width: 100%; background: #000000; font-weight: bold; font-family: Verdana,sans-serif; color: #FFFFFF;}
    nav li{float: left;}

ind-desktoplogo

/* SMARTPHONES INICIO */
@media only screen and (max-width: 480px){

nav {height: 50px; padding-left: 25%;}
    nav li{width: 100%; display: none;}

.ind-botao{position: absolute; width: 65%; top: 3px; right: 0; cursor: pointer; padding-right: 10%; text-align: right;}

ind-logo{position: absolute; width: 25%; left: 0; top: 0; text-align: center;}
ind-logo img{margin-top: 3px; max-height: 40px; }
}
/* SMARTPHONES FIM */




/* TABLETS INICIO */
@media only screen and (min-width: 481px) and (max-width: 768px){

nav {height: 60px; padding-left: 25%;}
    nav li{width: 15%; display: none;}

.ind-botao{position: absolute; width: 65%; top: 9px; right: 0; cursor: pointer; padding-right: 10%; text-align: right;}

ind-logo{position: absolute; width: 25%; left: 0; top: 0; text-align: center;}
ind-logo img{max-height: 55px; }

}
/* TABLETS FIM*/




/* DESKTOP INICIO */
@media only screen and (min-width: 769px){

nav {height: 40px; padding-left: 25%; padding-top: 15px;}
    nav li{width: 15%; text-align: center;}

.ind-botao{display: none;}

ind-logo{position: absolute; width: 25%; left: 0; top: 0; text-align: center;}
ind-logo img{margin-top: 0px; max-width: 100%; }
}
/* DESKTOP FIM*/